# Language Fundamentals

### 1. Manipulate Using a List

In [5]:
#i) To add new elements to the end of the list

lst= [20,'selva',378.33,70,-10]
lst.append('raj')

lst

[20, 'selva', 378.33, 70, -10, 'raj']

In [7]:
#ii)To reverse elements in the list
lst.reverse()
lst

['raj', -10, 70, 378.33, 'selva', 20]

In [9]:
#iii)To display same list of elements multiple times.
print('list of elements multiple times :\n',lst*3)

list of elements multiple times :
 ['raj', -10, 70, 378.33, 'selva', 20, 'raj', -10, 70, 378.33, 'selva', 20, 'raj', -10, 70, 378.33, 'selva', 20]

In [11]:
#iv) To concatenate two List

lst1=[44,60,77,'concate','10']
lst.extend(lst1)
lst

['raj', -10, 70, 378.33, 'selva', 20, 44, 60, 77, 'concate', '10']

### 2. Write a python program to do in tuples

In [37]:
tuples = (20,8735,200,'tuple')

#i) Manipilate Using Tuples
#ii)To add new element to end of the tuples

#We can't manipulate and Adding new element in the tuple is not possible because Tuple is immutable in nature. 
#so creating an new tuple variable to add new tuple elements.

element=70
new_tuple = tuples+('element',)
new_tuple

(20, 8735, 200, 'tuple', 'element')

In [38]:
#iii) To reverse elements in the list

lst=list(tuples) #Converted tuple to list for reverse an element
lst.reverse()
lst

['tuple', 200, 8735, 20]

In [39]:
#iv) Display same element multiple times)
tuples*2

(20, 8735, 200, 'tuple', 20, 8735, 200, 'tuple')

In [40]:
#v) Concatenate Two tuples
tuples1 =(17,87,90)
concate = tuples + tuples1

concate

(20, 8735, 200, 'tuple', 17, 87, 90)

In [44]:
#vi) sort element in the list Ascending order
tuples_sort=list(tuples1)
tuples_sort.sort()
tuples_sort

[17, 87, 90]

### 3.Write a Python program to implement the following using list

In [45]:
#i) create list with integers 
lst =[10,20,30,40,50,60,70,80,90,100,110,120]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [50]:
#ii) Display last number in the list
lst[11:]
#or
lst[-1]

120

In [51]:
#iii) command for displaying the values from the list[0:4]
lst[0:4]

[10, 20, 30, 40]

In [52]:
#iv) command for displaying the values from the list[2:]
lst[2:]

[30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [53]:
#v) command for displaying the values from the list[:6]
lst[:6]

[10, 20, 30, 40, 50, 60]

### 4. Write a Python program: tuple1 = (10,50,20,40,30)

In [64]:
tuple1 =  (10,50,20,40,30)
#i) display element 10 and 50 from tuple1
tuple1[0:2]

(10, 50)

In [65]:
#ii)Display Length of tuple1
len(tuple1)

5

In [66]:
#iii)Find Minimum element from tuple1
min = tuple1[0]
for i in range(1,len(tuple1)):
    if(tuple1[i]< min):
        min = tuple1[i]
min

10

In [72]:
#iv)add all elements in tuple1
sum_element =0
for i in range(1,len(tuple1)):
    sum_element +=tuple1[i];
sum_element

140

In [73]:
#v)Display same tuple1 muliple times
tuple1*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

### 5. Write a python Program

In [74]:
#i)Calculate length of string

string ='selvaraj'
len(string)

8

In [79]:
#ii)Reverse words in a string

reverse=string[::-1]
reverse

'jaravles'

In [83]:
#iii)Display same string multiple times
reverse*4

'jaravlesjaravlesjaravlesjaravles'

In [84]:
#iv) Concatenate two string
string1 = '2577127'
concate = string + string1
concate

'selvaraj2577127'

In [89]:
#v)Slicing String to display "india"
Str1 ="south India"
Str1[6:]

'India'

### 7. Python program to insert a number to any position in a list

In [97]:
lst = [1,2,3,4,5,6,7,8,9]

lst.insert(4,10) #insert(position, element)
lst.insert(5,-1000)
lst

[1, 2, 3, 4, 10, -1000, 5, 6, 7, 8, 9]

### 8. Python program to delete a number from the list by a index

In [98]:
lst.pop(3)
lst.pop(7)
lst

[1, 2, 3, 10, -1000, 5, 6, 8, 9]

### 9. Write a program to display a number from 1 to 100

In [102]:
for i in range(0,100):
   print(i+1,'\n')

1

2

3

4

5

6

7

8

9

10

11

12

13

14

15

16

17

18

19

20

21

22

23

24

25

26

27

28

29

30

31

32

33

34

35

36

37

38

39

40

41

42

43

44

45

46

47

48

49

50

51

52

53

54

55

56

57

58

59

60

61

62

63

64

65

66

67

68

69

70

71

72

73

74

75

76

77

78

79

80

81

82

83

84

85

86

87

88

89

90

91

92

93

94

95

96

97

98

99

100

### 10. Write a program to to find the sum of all items in a tuple

In [105]:
tuples=(3,10,17,100)
sum=0
x=len(tuples)
for i in range(0, x):
    sum +=tuples[i]

sum

130

### 11. Creating a dictionary containing three lambda functions square, cube and square root:

In [117]:


dict_lambda ={
    'square': lambda x: x**2,
    'cube': lambda x: x**3,
    'squareroot': lambda x: x**0.5
}

x=int(input("Enter value of x: "))

square_res = dict_lambda['square'](x)
cube_res = dict_lambda['cube'](x)
squareroot_res = dict_lambda['squareroot'](x)

print('The Square of {} is {}'.format(x,square_res))
print('The cube of {} is {}'.format(x,cube_res))
print('The squareroot of {} is {}'.format(x,squareroot_res))

Enter value of x: 3
The Square of 3 is 9
The cube of 3 is 27
The squareroot of 3 is 1.7320508075688772

### 12. A list of word is given. Find the words from the list that have their second character in uppertcase